* {
    font-family: 'Open Sans', sans-serif;
}

html {
    min-height: 100%;
    max-width: 100%;
    position: relative;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}

h1, h2, h3, h4, h5 {
    font-family: 'Caveat Brush', cursive;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: #111112;
    color: #929292;
}

.about-footer {
    width: 100%;
    padding: 40px 100px;
}

.about-footer .container {
    width: 90%;
    padding: 0 5%;
}

.about-footer a {
    color: white;
}

.about-footer h5 {
    text-transform: uppercase;
    padding-top: 20px;
}

.about-footer p {
    font-size: .9em;
}

.list-footer li {
    margin-bottom: 5px;
}

.list-footer i {
    padding-right: 20px;
    padding-left: 5px;
    color: #1d98fd;
}

.contact div {
    padding-bottom: 10px;
}

.contact i {
    padding-right: 20px;
    padding-left: 5px;
    color: #1d98fd;
}

.social-media i {
    font-size: 3em;
    padding: 5px 30px 0px 0px;
    color: #434343;
}

.copyright-footer {
    padding: 10px 20px;
    width: 100%;
    background-color: black;
    color: #d3d3d3;
    display: flex;
    flex-direction: row;
    justify-content: center;
}